<module>
	<rawname>findmefollow</rawname>
	<name>Follow Me</name>
	<version>1.2.1</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<findmefollow>Follow Me</findmefollow>
	</menuitems>
	<location>release/findmefollow-1.2.1.tgz</location>
	<info>http://freepbx.org/wiki/FollowMe</info>
	<md5sum>750532bb9d730ce3e33ceff1406bcf58</md5sum>
</module>
