<module>
	<rawname>findmefollow</rawname>
	<repo>standard</repo>
	<name>Follow Me</name>
	<version>15.0.33</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<changelog>
		*15.0.33* Add missing calendar keys to `addSettingsById` 
		*15.0.32* Adding Findmefollow GraphQL API 
		*15.0.31* resolve issue with variable name in the new FindMeFollow ADD rest api integrations 
		*15.0.30* create missing ties between findmefollow REST api and backend 
		*15.0.29* FREEPBX-22639 FollowMe-Settings are dropped on Active Directory sync 
		*15.0.28* FREEI-3760 RestAPI FollowMe Functions missing 
		*15.0.27* FREEI-3447 add a method getWidgetListByModule to findme follow me 
		*15.0.26* FREEPBX-22522 Can't enable 'confirm calls' in FMFM 
		*15.0.25* Bugfix/FREEPBX-22430 editing an extensions shows a php error message 
		*15.0.24* Packaging of ver 15.0.24
		*15.0.23* Packaging of ver 15.0.23
		*15.0.22* FREEPBX-21579 restore from 14 to 15 (legacy) FMFM 
		*15.0.21* FREEI-1706 avoiding to update callerid if blind/attended transfer 
		*15.0.20* Bugfix/FREEPBX-21287 
		*15.0.19* Fixing FREEPBX-21287 
		*15.0.18* FREEPBX-20683: mention the RFC7462 setting 
		*15.0.17* FREEPBX-20934 Getting "Invalid argument supplied for foreach()" error in Findme Follow module while restoring the FreePBX 15 backup. 
		*15.0.16* FREEPBX-20562 Restoring backup in FreePBX 15 system is disabling the followme. 
		*15.0.15* Related to FREEPBX-20414: removed $jobid from runRestore() 
		*15.0.14* FREEPBX-20258
		*15.0.12* FREEPBX-19578 
		*15.0.10* Fixing FREEPBX-19518 Enabling Find me /follow me from quick extenstion creation is not working
		*15.0.9* fixing legacy restore
		*15.0.8* fixing legacy restore
		*15.0.7* Feature/FREEPBX-15651
		*15.0.6* Rest Api
		*15.0.5* Packaging of ver 15.0.5
		*15.0.4* Add Backup 15
		*15.0.3* FREEPBX-16838 FreePBX 14.0.1.36 d'nt work button "save"
		*15.0.2* FREEPBX-16513 Calendar Group under follow me broken
		*15.0.1* FREEPBX-13152
	</changelog>
	<depends>
		<module>core ge 13.0.113.3</module>
		<module>framework ge 13.0.117</module>
		<module>recordings ge 3.3.8</module>
		<module>userman ge 14.0.3.16</module>
	</depends>
	<category>Applications</category>
	<description>
		Much like a ring group, but works on individual extensions. When someone calls the extension, it can be setup to ring for a number of seconds before trying to ring other extensions and/or external numbers, or to ring all at once, or in other various 'hunt' configurations. Most commonly used to ring someone's cell phone if they don't answer their extension.
	</description>
  	<more-info>https://wiki.freepbx.org/display/FPG/Follow+Me+Module</more-info>
	<menuitems>
		<findmefollow needsenginedb="yes">Follow Me</findmefollow>
	</menuitems>
	<supported>
		<version>15.0</version>
	</supported>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Findmefollow" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="import" class="Findmefollow" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Findmefollow" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
		<core class="Core" namespace="FreePBX\modules">
			<method callingMethod="getQuickCreateDisplay" class="Findmefollow" namespace="FreePBX\modules">getQuickCreateDisplay</method>
			<method callingMethod="processQuickCreate" class="Findmefollow" namespace="FreePBX\modules">processQuickCreate</method>
			<method callingMethod="delUser" class="Findmefollow" namespace="FreePBX\modules">delUser</method>
		</core>
		<ucp class="Ucp">
                        <method namespace="FreePBX\modules" callingMethod="constructModuleConfigPages" class="Findmefollow">ucpConfigPage</method>
                        <method namespace="FreePBX\modules" callingMethod="addUser" class="Findmefollow">ucpAddUser</method>
                        <method namespace="FreePBX\modules" callingMethod="updateUser" class="Findmefollow">ucpUpdateUser</method>
                        <method namespace="FreePBX\modules" callingMethod="delUser" class="Findmefollow">ucpDelUser</method>
                        <method namespace="FreePBX\modules" callingMethod="addGroup" class="Findmefollow">ucpAddGroup</method>
                        <method namespace="FreePBX\modules" callingMethod="updateGroup" class="Findmefollow">ucpUpdateGroup</method>
                        <method namespace="FreePBX\modules" callingMethod="delGroup" class="Findmefollow">ucpDelGroup</method>
                </ucp>
	</hooks>
	<database>
	  <table name="findmefollow">
	    <field name="grpnum" type="string" length="20" primaryKey="true"/>
	    <field name="strategy" type="string" length="50"/>
	    <field name="grptime" type="smallint"/>
	    <field name="grppre" type="string" length="100" notnull="false"/>
	    <field name="grplist" type="string" length="255"/>
	    <field name="annmsg_id" type="integer" notnull="false"/>
	    <field name="postdest" type="string" length="255" notnull="false"/>
	    <field name="dring" type="string" length="255" notnull="false"/>
	    <field name="rvolume" type="string" length="2" notnull="false"/>
	    <field name="remotealert_id" type="integer" notnull="false"/>
	    <field name="needsconf" type="string" length="10" notnull="false"/>
	    <field name="toolate_id" type="integer" notnull="false"/>
	    <field name="pre_ring" type="smallint" default="0"/>
	    <field name="ringing" type="string" length="80" notnull="false"/>
			<field name="calendar_enable" type="boolean" default="0" notnull="false"/>
	    <field name="calendar_id" type="string" length="80" default="" notnull="false"/>
			<field name="calendar_group_id" type="string" length="80" default="" notnull="false"/>
	    <field name="calendar_match" type="string" length="4" default="yes" notnull="false"/>
	  </table>
	</database>
	<location>release/2.11/findmefollow-2.11.0.3.tgz</location>
	<md5sum>eb10d338f7206c288e52b240ccf4b850</md5sum>
</module>